.animeCard {
    width: 100%;
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 1rem;


    h3 {
        text-align: center;
        margin-block: 1rem;
        font-size: larger;
        font-weight: 400;
    }
    h4{
        margin-bottom: 1rem;
        font-size: larger;
    }
    p {
        margin-block: .5rem;
    }
}