.animeCard {
    width: 30%;
    background: rgb(0,0,0,0.5);
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-height: 550px;
    margin: 1rem;


    h3 {
        text-align: center;
    }
}