.animeCard {
    height: 500px;
    width: 100%;
    background: #000;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .25s ease;

    &:hover {
        border-radius: 1rem;
        transform: scale(.9);
    }

    &:hover:after {
        height: 280px;
    }

    &:hover > span {
        // transform: scale(1.25);
    }

    &:after {
        width: 100%;
        content: '';
        left: 0px;
        bottom: 0px;
        height: 150px;
        position: absolute;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        z-index: 20;
        transition: all 1s ease;
    }
    
    span {
        width: 100% !important;
        height: 100%;
        z-index: 10;
        position: unset !important;
        transition: all 1s ease;
    }

    &:hover > div > a {
        display: block;
    }

    & > div {
        z-index: 50;
        position: absolute;
        bottom: 0px;
        color: #fff;
        padding: 20px;
        padding-bottom: 30px;
        width: 100%;
    }

    & > div > a {
        display: none;
        text-align: center;
        padding: 7px 17px;
        border-radius: 12px;
        background: transparent;
        border: 2px solid #fff;
        color: #fff;
        margin-top: 1rem;
        margin-left: auto;
        cursor: pointer;
        transition: all .7s ease;
        outline: none;


        &:hover {
            background: #fff;
            color: #000;
        }
    }
    
}