.mangaCard {
    background: rgb(0,0,0,0.5);
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-height: 550px;
    margin: 1rem;

    h3 {
        text-align: center;
        margin-block: 1rem;
        font-size: larger;
        font-weight: 400;
    }

    h4 {
        margin-bottom: 1rem;
        font-size: larger;
    }

    p {
        margin-block: .5rem;
    }
    
}