
.mangaFirstContent {
	margin: 0 2rem;
	padding: 8rem 3rem;

	& > div {
		padding: 1rem;
		border: .3rem solid #616161;
		border-radius: 1rem;
	}
}

.mangaTitleCarousel {
	margin-top: .5rem;
	padding: 1rem;

	h5 {
		color: #fafafa;
	}
}